# See /usr/share/postfix/main.cf.dist for a commented, more complete version
inet_protocols = ipv4
smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

# TLS parameters
smtpd_tls_cert_file = {{ cert_dir }}/{{ main_mailhost }}.crt
smtpd_tls_key_file = {{ secret_key_dir }}/{{ main_mailhost }}.key
smtpd_tls_security_level = may
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

# Make sure to also change the rDNS entry when changing myhostname!
myhostname = {{ main_mailhost }}
myorigin = {{ main_mailhost }}

alias_maps = hash:{{ postfix_alias_map }}
alias_database = hash:{{ postfix_alias_map }}
mydestination = $myorigin, localhost, localhost.localdomain
relayhost =
# mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mynetworks = 127.0.0.0/8

message_size_limit = 20480000
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
home_mailbox = {{ home_mailbox_dir }}/
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_authenticated_header = no
smtpd_sasl_security_options = noanonymous
smtpd_sasl_local_domain =
broken_sasl_auth_clients = no
smtpd_recipient_restrictions = permit_sasl_authenticated, permit_mynetworks, reject_unauth_destination
smtpd_sender_restrictions =
mailbox_command = /usr/lib/dovecot/deliver -c {{ dovecot_config_dir }}/conf.d/01-mail-stack-delivery.conf -m "${EXTENSION}"
smtpd_tls_received_header = no
smtpd_tls_mandatory_protocols = !SSLv2
smtpd_tls_mandatory_ciphers = medium
smtpd_tls_auth_only = no
tls_random_source = dev:/dev/urandom
virtual_alias_domains = {{ alias_domains }}
virtual_alias_maps = hash:{{ postfix_virtual_alias_map }}
smtpd_relay_restrictions = reject_unknown_sender_domain, reject_unknown_recipient_domain, reject_unauth_pipelining, permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination
compatibility_level = 2
setgid_group = postdrop
mail_owner = postfix

queue_directory = /var/spool/postfix

# OpenDKIM
smtpd_milters           = inet:localhost:8892
non_smtpd_milters       = $smtpd_milters
milter_default_action   = accept
milter_protocol		= 2
