##
## SSL settings
##

# SSL/TLS support: yes, no, required. <doc/wiki/SSL.txt>
ssl = yes

ssl_cert = <{{ cert_dir }}/{{ main_mailhost }}.crt
ssl_key = <{{ secret_key_dir }}/{{ main_mailhost }}.key

{% for host in mail_fqdn_list %}
local_name {{ host }} {
  ssl_cert = <{{ cert_dir }}/{{ host }}.crt
  ssl_key = <{{ secret_key_dir }}/{{ host }}.key
}
{% endfor %}
ssl_cipher_list = ALL:!LOW:!SSLv2:ALL:!aNULL:!ADH:!eNULL:!EXP:RC4+RSA:+HIGH:+MEDIUM

ssl_client_ca_dir = {{ cert_dir }}
